Q1. What is data encoding? How is it useful in data science?

when ever you are a catagorial feather we will try to various tecnices how to catagorical feathure converted in to newmarical feather.

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

nominal encoding is a technique used to transform catagorical variabes that have no intrinsic ordering into machine learning mosules .one common method for nominal encoding is one-hot encoding ,which created a binary vector for each cataegory in variable.

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

when <then 5 number of data set are prangent in the data set in this situstion this type of work.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
encoder=OneHotEncoder()

In [17]:
encoded=encoder.fit_transform(df[['color']])

In [18]:
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [19]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.